[user]
	name = Minh Ha
	email = mihado@minh.im
[push]
	default = current
[core]
	autocrlf = false
	excludesfile = /Users/mihado/.gitignore_global
	editor = vim

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/mihado/.stCommitMsg
